<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Main page</title>
    <div th:replace="fragments/common :: header"></div>
</head>
<body>
<div class="container">
    <div th:replace="fragments/common :: navbar"></div>
    <h4 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h4>

    <div sec:authorize="isAuthenticated()">
        <a href="/currency">Show XML Data from URL</a>

    </div>

</div>
<div th:insert="fragments/common :: footer"></div>
</body>
</html>