<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
    <div th:replace="fragments/common :: header"></div>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
<div class="container">
    <div th:replace="fragments/common :: navbar"></div>

    <div th:if="${param.message}">
        User already exists
    </div>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/registration}" method="post" autocomplete="off">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> User Name: </label>
            <div class="col-sm-3">
                <input th:classappend="${usernameError} ? 'is-invalid'"
                       class="form-control" type="text" name="username" placeholder="username"
                th:value="${user} ? ${user.getUsername()}"/>
                <div class="invalid-feedback" th:text="${usernameError}"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Password: </label>
            <div class="col-sm-3">
                <input th:classappend="${passwordError} ? 'is-invalid'" class="form-control" type="password" name="password" placeholder="password"/>
                <div class="invalid-feedback" th:text="${passwordError}"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Retype password: </label>
            <div class="col-sm-3">
                <input th:classappend="${password2Error} ? 'is-invalid'" class="form-control" type="password" name="password2" placeholder="Retype password"/>
                <div class="invalid-feedback" th:text="${password2Error}"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Email:  </label>
            <div class="col-sm-3">
                <input th:classappend="${emailError} ? 'is-invalid'" class="form-control" type="email" name="email" placeholder="some@some.com"/>
                <div class="invalid-feedback" th:text="${emailError}"></div>
            </div>
        </div>
        <div>
            <div class="g-recaptcha mb-4 mt-2" data-sitekey="6Ld9q8cZAAAAAF2ccmnPbkZjOeGar4GbfZ21MXeb"></div>
            <div th:if="${captchaError}" class="alert mt-3 alert-danger" th:text="${captchaError}"></div>
        </div>
        <button class="btn btn-primary mb-4" type="submit">Register</button>
    </form>
</div>
<div th:insert="fragments/common :: footer"></div>
</body>
</html>