<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Main page</title>
    <div th:replace="fragments/common :: header"></div>
</head>
<body>
<div class="container">
    <div th:replace="fragments/common :: navbar"></div>
    <h4>Список пользователей</h4>
    <table class="table table-striped col-md-4 mt-4">
        <thead>
        <tr>
            <th scope="col">№:</th>
            <th scope="col">Логин:</th>
            <th scope=" ">Установленные роли:</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${users}">
            <td th:text="${u.getId()}"></td>
            <td th:text="${u.getUsername()}"></td>
            <td> <th:block th:each="role, iterStat : ${u.getRoles()}" th:text="${!iterStat.last} ? ${role} + ', ' : ${role}"></th:block></td>
            <td><a th:href="@{/user/{id}(id=${u.getId()})}">edit</a></td>
        </tbody>
    </table>

</div>
<div th:insert="fragments/common :: footer"></div>
</body>
</html>