<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User edit</title>
    <div th:replace="fragments/common :: header"></div>
</head>
<body>
<div class="container">
    <div th:replace="fragments/common :: navbar"></div>

    <form method="post" th:action="@{/user}" th:object="${user}">
        <div class="form-row">
            <div class="form-group col-md-4 mt-4">
                <label>Имя: </label>
                <input th:value="${user.getUsername()}" class="form-control" type="text" name="username" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <li th:each="role : ${roles}">
                    <label th:text="${role}"></label>
                    <input th:name="${role}" type="checkbox" th:value="${role}"
                           th:checked="${user.getRoles().contains(role)}" />
                </li>
            </div>
        </div>
        <input type="hidden" name="userId" th:value="${user.getId()}">
        <button class="btn btn-primary mb-4" type="submit">Сохранить</button>
    </form>

</div>
<div th:insert="fragments/common :: footer"></div>
</body>
</html>